# Entornos y secretos
.env
backend/.env
frontend/.env
backend/venv/
venv/

# Python
__pycache__/
*.pyc

# Node
node_modules/
frontend/node_modules/

# Vite / build
dist/
frontend/dist/

# Editor / SO
.vscode/
.idea/
Thumbs.db
.DS_Store
# Python
__pycache__/
*.pyc

# Django
*.sqlite3

# Node
node_modules/
dist/

# Variables entorno
.env